*{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    box-sizing: border-box;
    text-decoration: none;
}

.contenedor{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    width: 100%;
    padding: 60px;
    background: #F3F5FC;
    height: auto;

    gap: clamp(25px, 5vw, 4.6rem);
    justify-content: space-between;
    flex: 1 1 auto;
}

.encabezado{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.logo{
    position: absolute;
}

.izquierdo{
    width: 60%;
}

.input{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.texto{
    width: 100%;
    border: none;
    color: #0A3871;
    padding: 60px 0 0 40px;
    background: #F3F5FC;   

    outline: none;
    resize: none;
    flex: 1 1 auto;
}

.texto::placeholder{
    color: #0A3871;
}

.texto:focus{
    outline: none;
}

.mensaje{
    display: flex;
    gap: 5px;
    align-items: center;
    user-select: none;
}

.informacion{
    color: #495057;
    font-size: 12px;
}

.botones{
    display: flex;
    padding: 10px 0;
    user-select: none;
}

.btn-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 16px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 20px;
    width: 328px;
}

.derecho{
    min-width: 400px;
    width: 400px;
    background: #FFFFFF;
    border: none;
    border-radius: 32px;
    padding: 20px;
    word-break: break-word;
    color: #0A3871;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.derecho:focus{
    outline: none;
}

.cajaMensaje{
    width: 100%;
    height: 100%;
    font-size: 30px;
}

.foto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.msj{
    text-align: center;
    display: inline;
    font-size: 24px;
}

.texto{
    font-size: 32px;
    font-weight: bold;
    padding: 0 30px;
    margin-top: 10px;
}

#textoDesencriptado{
    margin: 10px 0 ;
    color: #495057;
    font-size: 1.1rem;
    padding: 0 45px;
    font-size: 16px;
}

.copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 200px;
    display: none;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.copiar:hover {
    transition: all 500ms ease;
    background-color: #0A3871;
    color: white;
}

.pie-pagina{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    background: #F3F5FC;
}

#linkedin{
    padding: 0 10px;
}

#linkedin:hover{
    color: #0e76a8;
    padding: 0 10px;
}

#github:hover{
    color: #ff0000;
}

@media screen and (max-width:950px){
    main{
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        gap: 2px;
        padding: 10px;
        height: auto;
    }

    .encabezado{
        width: 60px;
        height: 24px;
        top: 20px;
        left: 20px;
    }

    .izquierdo{
        width: auto;
        display: flex;
        align-items: unset;
        justify-content: center;
        flex: 5 1 auto;
        min-height: 50%;
        height: 60%;
    }

    .input{
        display: flex;
        justify-content: flex-start;
    }

    .texto{
        padding: 80px 0 0 0;
    }

    .botones{
        display: flex;
        align-items: center;
    }

    .btn-encriptar{
        width: 250px;
        height: 55px;
    }

    .btn-desencriptar{
        width: 250px;
        height: 55px;
    }

    .derecho{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 150px;
        height: 40%;
        flex: 5 1 auto;
    }

    .foto{
        display: none;
    }

    .msj{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 50px 0;
    }

    .copiar{
        display: none;
    }
}

@media screen and (max-width:550px){
    main{
        padding: 15px 30px;
        height: auto;
    }

    .izquierdo{
        min-height: 360px;
    }

    .botones{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .btn-desencriptar{
        margin-left: 0;
    }

    .derecho{
        min-width: 200px;
        min-height: 200px;
        padding: 20px 25px;
    }
}