.contenedor{
	background: #F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 150%;
    margin: auto;
    width: 1440px;
    height: 724px;
}

main{
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

.izquierdo{
    float: left;
    /*position: fixed;*/
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    border-radius: 24px;
}

.derecho{
    float: right;
    /*position: fixed;*/
    border-radius: 32px;
    background: #FFFFFF;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
}
.botones{
    /*float: left;*/
    display: flex;
    width: 70%;
    height: auto;
    border-radius: 24px;
}

.informacion{
    width: 205px;
    height: 18px;
    color: #495057;
    opacity: 0.8;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

#textoEncriptado{
    /*float: left;
    margin-left: 10%;    
    width: 80%;
    height: 80%;*/
    margin-top: 90px;
    /*padding: 200px;
    width: 577px;
    height: 48px;*/
    color: #0A3871;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border: none;
    outline: none;
    background: #F3F5FC;
}

::placeholder {color: #0A3871;}
#textoEncriptado{
    outline: none;
}

#muneco{
    margin-top: 20%;
    width: 90%;
    height: auto;
}

#texto{
    margin-top: 5%;
    margin-right: 5%;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}

#textoDesencriptado{
    float: left;
    margin-left: 10%;
    width: 80%;
    height: 40%;
    color: #495057;
    border: none;
    outline: none;
    font-size: 16px;
    text-align: center;
}

#botonCopiar{
    padding: 24px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    margin-left: 15%;
    border: 1px solid #0A3871;
    background: #D8DFE8;
    display: none;
    color: #0A3871;
    cursor: pointer;
}

#botonEncriptado{
    padding: 24px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background: #0A3871;
    color: #FFFFFF;
    cursor: pointer;
}

#botonDesencriptado{
    padding: 24px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    margin-left: 30px;
    border: 1px solid #0A3871;
    background: #D8DFE8;
    color: #0A3871;
    cursor: pointer;
}

@media screen and (max-width:480px){
    body{
        background: black;
    }
}

.pie-pagina{
    margin: 1m 0 0 0;
    padding: 10px 0;
    font-size: 12px;
    color: black;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}